################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StripeProject/bin/Debug/net8.0
/StripeProject/obj/Debug/net8.0
